@import url('./reset.css');
@import url('./layout.css');
@import url('./modules.css');
@import url('./icon.css');

* {
  font-family: 'Yeon Sung', cursive;
  font-weight: bold;
}

header {
  padding: 35px;
  font-size: 1.3em;
  background-color: #718EA4;
  width: 100%;
  box-shadow: 0px 0px 4px 0px #444;
}

h1 {
  width: 100%;
}

h2,
p {
  font-family: 'Roboto Slab', serif;
}

p {
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 8px;
  letter-spacing: 0.3px;
}

input {
  width: 60%;
  text-align: left;
}

button {
  width: 80%;
}

input,
button {
  padding: 20px 50px;
  font-size: 1.2em;
  margin-bottom:  20px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #718EA4;
}

a {
  color: #fff;
  text-decoration: none;
}