@import url('./reset.css');
@import url('./layout.css');
@import url('./modules.css');
@import url('./icon.css');

* {
  font-family: 'Yeon Sung', cursive;
  font-weight: bold;
}

li {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}