/* Index.ejs Styling */
#header-container {
  display: flex;
  justify-content: space-between;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  background-color: #718EA4;
}



/* Show.ejs Styling */
#result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result-container {
  margin: 5px auto;
}

.books p {
  line-height: 1.2em;
}

.books {
  padding: 15px;
}

.books h2 {
  font-size: 1.1em;
  margin: 10px auto;
}

.hide-me {
  display: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#update-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-btn {
  width: 100%;
  transition: 0.3s;
  background-color: #266799;
  color: black;
}

.update-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#hidden-form {
  border: 1px solid white;
  border-radius: 10px;
  width: 40%;
  padding: 20px;
  background-color: antiquewhite;
  margin-bottom: 20px;
}